*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid #000;
    width: 80%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
    
