@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
}

canvas {
    background-color: #121212;
}

.screen{
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
}

.screen h1{
    font-size: 2rem;
}
.button-play,.restart{
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #ddd;
    display: block;
    margin: 20px auto 0;
    font-size: 1rem;
    cursor: pointer;
}

.button-play:hover,.restart:hover{
    background-color: #fff;
}

.game-over{
    scale: 0;
    animation: zoom 2s ease-in-out forwards;
}

.score-ui{
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;
    font-size: 1rem;
}
.score-ui > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0px auto;
}

@keyframes zoom {
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}
